<div>

<h2 class="headerlabel">Add Member</h2>
  
  <hr id="horizontal">
  
		<div class="container" id="yashnonyashdiv">
				<label ><input type="radio" name="optradio" ng-click="showLookForm()" checked="checked">Yash</label>
			    &nbsp;&nbsp;&nbsp;&nbsp;   
			    &nbsp;&nbsp;&nbsp;&nbsp;   
			    &nbsp;&nbsp;&nbsp;&nbsp;
			    &nbsp;&nbsp;&nbsp;&nbsp;   
			    &nbsp;&nbsp;&nbsp;&nbsp;   
			    &nbsp;&nbsp;&nbsp;&nbsp;
			   	<label><input type="radio" name="optradio" ng-click="showRegisterationForm()">Non-Yash</label>
		</div>
		<br>
		<br>
		<br>
		<br> 			
		<center>
			<div class="container" ng-show="showLookUpForm" id="r2corners" >
				  <form class="form-inline" role="form" name="myForm" >
				   	<div class="form-group">
				      <label for="email">Email:</label>
				      <input type="email" class="form-control"  placeholder="Enter email" ng-model="ldapEmail" name="ldapEmail">
				      <!-- <span ng-show="myForm.ldapEmail.$error.email">Invalid email address.</span> -->
				    </div>
				    &nbsp;&nbsp;&nbsp;&nbsp; 
				    &nbsp;&nbsp;&nbsp;&nbsp; 
				    <button type="submit" class="btn btn-success" ng-click="checkUser()">LookUp</button>
				  </form>
			</div>
		</center>
		<center>
				<div class="container" ng-show="showRegisterForm" id="r3corners">
					  <form class="form-inline" role="form">
					    
					    <div class="form-group">
						      <label class="control-label col-sm-4" for="Id">Id:</label>
						      <div class="col-sm-8">
						             <input type="text" class="form-control" id="Id"  ng-model="userId" ng-disabled="true">
						      </div>
					    </div>
					    
					  	<br>
					  	<br>
					    
					    <div class="form-group">
						      <label class="control-label col-sm-4" for="name">Name:</label>
						      <div class="col-sm-8">
						      <input type="name" class="form-control" id="name"  ng-model="userName" ng-disabled="true">
						      </div>
					    </div>
					    
					   <br>
					  	<br>
					    
					    <div class="form-group">
						      <label class="control-label col-sm-4" for="email">Email:</label>
						      <div class="col-sm-8">
						      <input type="email" class="form-control" id="email"  ng-model="userEmail" ng-disabled="true">
						      </div>
					    </div>
					    
					    <br>
					  	<br>
					    
					    <div class="form-group">
						      <label  class="control-label col-sm-4" for="contact">Contact:</label>
						      <div class="col-sm-8" >
						      <input type="text" class="form-control" id="contact" ng-model="userMobile" ng-disabled="true">
						      </div>
					    </div>
					  	<br>
					  	<br> 
					  	<div class="col-sm-8">
					  		<center> 
								 &nbsp;&nbsp;&nbsp;&nbsp; 
				   			 	&nbsp;&nbsp;&nbsp;&nbsp; 		
				   			 	&nbsp;&nbsp;&nbsp;&nbsp; 
				   			 	&nbsp;&nbsp;&nbsp;&nbsp;  
				   			 	&nbsp;&nbsp;&nbsp;&nbsp;
				   			 	&nbsp;&nbsp;&nbsp;&nbsp;
				   			 	&nbsp;&nbsp;&nbsp;&nbsp;
				     			<button type="submit" class="btn btn-success" ng-click="registerMember()">Register</button>
					  		</center>
		    			</div>
		  			</form>
				</div>
		</center>
		
		<div class="container" ng-show="showNonYashRegisterForm" id="r4corners">
				  
				  <form class="form-inline" role="form">
				    
				     <div class="form-group">
					      <label class="control-label col-sm-4" for="Id">Id:</label>
					      <div class="col-sm-8">
					             <input type="text" class="form-control" id="Id"  ng-model="userId" ng-disabled="true">
					      </div>
				     </div>
				    
				  	<br>
				  	<br>
				    
				    <div class="form-group">
					      <label class="control-label col-sm-4" for="name">Name:</label>
					      <div class="col-sm-8">
					      		<input type="name" class="form-control" id="name"  ng-model="userName">
					      </div>
				    </div>
				    
				   <br>
				  	<br>
				    
				    <div class="form-group">
						      <label class="control-label col-sm-4" for="email">Email:</label>
						      <div class="col-sm-8">
						      	<input type="email" class="form-control" id="email"  ng-model="userEmail">
						      </div>
				    </div>
				    
				    <br>
				  	<br>
				    
				    <div class="form-group">
						      <label  class="control-label col-sm-4" for="contact">Contact:</label>
						      <div class="col-sm-8" >
						      	<input type="text" class="form-control" id="contact" ng-model="userMobile"/>
						      </div>
				    </div>
				    
				  	<br>
				  	<br>
				  	 
				  	<div class="form-group">
					      <label for="email">Manager Email:</label>
					       &nbsp;&nbsp;&nbsp;
					      <input type="email" class="form-control" id="email" ng-model="managerEmail"/>
				    </div>
				    
				    <br>
				  	<br>
					<button type="submit" class="btn btn-success" ng-click="registerNonYashMember()">Register</button>
				  </form>
			</div>


	
			<div class="alert alert-success" ng-show="showRegistrationMessaage">
		  			<center><strong>{{member.name}}</strong>&nbsp;&nbsp; Is Successfully register with Yash Issue Tracker System.</center>
			</div>
			<div class="alert alert-danger" ng-show="memberAlreadyInDatabase">
		  			<center><strong>{{member.name}}</strong>&nbsp;&nbsp; Is Already register with Yash Issue Tracker System.</center>
			</div>
	
</div>
