<head>

<style type="text/css">
	
	.container{
	
		width: 200px;
		float: center;
	}
	
	.search-box{
		
	}
	
	#heading{
		background-color: darkcyan;
		color: white;
		 font-size: 18px;
		  font-family: "Times New Roman", Times, serif;
	}
	
	.btn-primary{
		background-color: darkcyan !important;
	}
	
	.advance-search-box{
		float:right;
	}
	
</style>
</head>
<body>

<h2 class="headerlabel">Search Issue</h2>

<form>
	
	<br>
	<br>
	
	<div class="search-box">
		<label>Select Issue Type: </label>
		<select ng-model="mc.selectIssueType" ng-change="mc.selectType()">
			<option></option>
			<option ng-repeat="issueType in defaultIssueTypes" value="{{issueType}}">{{issueType}}</option>
		</select>
		
	<div class="advance-search-box">
		<button class="btn-primary" type="button">Advance Search</button>
	</div>
	
    </div>
	
	
	

		<br>
		<br>
		<br>
		
		
		<table datatable="ng" class="table table-striped table-bordered table-hover" id="searchIssueTable">
			<thead class="thead-inverse">
				<tr  id="heading">
					<th>Select</th>
					<th>Creation Date</th>
					<th>Due Date</th>
					<th>Project Name</th>
					<th>Issue Type</th>
					<th>Issue Status</th>
					<th>Issue Priority</th>
					<th>Issue Summary</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			<tr id="defaultTable" ng-repeat="issue in defaultIssueList">
				<td><input id='radio' type='radio' value="{{issue.id}}"></td>
				<td>{{issue.createdDateTime}}</td>
				<td>{{issue.dueDate}}</td>
				<td>{{issue.project.name}}</td>
				<td>{{issue.applicationIssueType.type}}</td>
				<td>{{issue.applicationIssueStatus.status}}</td>
				<td>{{issue.applicationIssuePriority.type}}</td> 
				<td>{{issue.summary}}</td>
				<td><input type="button" value="View Details" class="btn btn-primary" ng-click="viewIssue()"></td>
			</tr>
			</tbody>
		</table>
		
		
</form>
</body>
