
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

<style>
.clear{
clear: both;
}
.dropDown{
height: 36px;
border-color: silver;
border-radius: 4px;
}
.submitButton{
margin-left: 31%;
}
.container{
height:50%;
width:50%;
}
</style> 

<div class="container" ng-controller="userController as uc" >
  <form role="form" ng-submit="uc.add()">
<div class="box1">
<div class="form-group col-sm-4">
<label for="issueProject">Project Name</label>
<select ng-model="uc.createIssue.project.projectId" class="dropDown form-control">
<option ng-repeat="project in projects" value="{{project.projectId}}" >{{project.projectName}}</option>
</select>
  </div>
  <div class="form-group col-sm-4">
<label for="issueType">IssueType</label>
<select ng-model="uc.createIssue.issueType.issueId" class="dropDown form-control">
<option ng-repeat="issueType in issueTypeList" value="{{issueType.issueId}}" >{{issueType.issueType}}</option>
</select>
  </div>
  
  <div class="form-group col-sm-4">
<label for="issuePriority">IssuePriority</label>
<select ng-model="uc.createIssue.issuePriority.issuePriorityId" class="dropDown form-control">
<option ng-repeat="priority in priorities" value="{{priority.issuePriorityId}}">{{priority.issuePriorityType}}</option>
</select>
  </div>
</div>
<div class="form-group col-sm-12">
<label for="summary">IssueSummary</label>
<input type="text" ng-model="uc.createIssue.summary" class="form-control" />
  </div>
 <div class="box2 ">
  <!-- <div class="form-group col-sm-6">
<label for="creationDate">IssueCreationDate</label>
<input type="date" ng-model="uc.createIssue.issueCreationDate" class="form-control" disabled/>
 </div> -->
 <!-- <div class="form-group col-sm-6">
<label for="dueDate">IssueDueDate</label>
<input type="date" ng-model="uc.createIssue.issueDueDate" class="form-control" disabled />
 </div> -->
 </div>
 <div class="box3 ">
  <div class="form-group col-sm-4">
<label for="component">IssueComponent</label>
<input type="text" ng-model="uc.createIssue.component" class="form-control" />
 </div>
 <div class="form-group col-sm-4">
<label for="affectedVersion">IssueAffectiveVersion</label>
<input type="text" ng-model="uc.createIssue.affectedVersion" class="form-control" />
 </div>
 <div class="form-group col-sm-4">
<label for="environment">ApplicationEnvironment</label>
<input type="text" ng-model="uc.createIssue.applicationEnvironment" class="form-control" />
 </div>
 </div>
 <div class="box4">
<div class="form-group col-sm-12">
<label for="description">IssueDescription</label>
<textarea class="form-control" rows="5" ng-model="uc.createIssue.description" class="form-control" ></textarea>
</div>
 </div>
   <div class="box5">
   <!-- <div class="form-group col-sm-6">
<label for="email">Email address:</label>
<input type="email" class="form-control" id="email">
 </div>  -->
 
  <div class="form-group col-sm-4">
<label for="environment">Original Estimate</label>
<input type="text" ng-model="uc.createIssue.applicationEnvironment" class="form-control" />
 </div>
 
 <div class="form-group col-sm-4">
<label for="dueDate">IssueDueDate</label>
<input type="date" ng-model="uc.createIssue.originalEstimate" class="form-control" />
 </div>
 
 <div class="form-group col-sm-4">
<label for="issueProject">IssueAssignee</label>
<select class="dropDown form-control" ng-model="" class="form-control">
<option value="{{assignee.memberId}}" ng-repeat="assignee in assigneeList" value="{{assignee.memberId}}">{{assignee.name}}</option>
</select>
  </div>
 </div> 
 <div class="form-group submitButton">        
      <div class="col-sm-offset-2 col-sm-10">
       <button type="submit" class="btn btn-primary">Save</button>
      </div>
      </div>
</form> 
</div> 